@charset "UTF-8";

* {
  transition: all 0.5s;
}

table.calendar th, table.calendar td {
  width: 10%;
  height: 90px;
  padding: 0 0.1%;
}

table.calendar td {
  background-size: contain;
  background-repeat: no-repeat;
}

img {
  display:block;
  height:100%;
  width:90%;
  object-fit:cover;
  transition: transform 1s;
}

td:hover img {
  transform: scale(0.8, 0.8);
}

tr.date th {
  height:10%;
}

.grid {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, 500px);
}

img.float-left {
  float:left;
  width:50%;
}

table.float-right {
  float:left;
  width:50%;
  table-layout:fixed;
}

table.float-right td{
  word-wrap:anywhere;
}
