@charset "UTF-8";

* {
  transition: all 0.5s;
}

table.calendar th, table.calendar td {
  width: 10%;
  height: 90px;
  padding: 0 0.1%;
}

table.calendar td {
  background-size: contain;
  background-repeat: no-repeat;
}

img {
  display:block;
  height:100%;
  width:90%;
  object-fit:cover;
  transition: transform 1s;
}

td:hover img {
  transform: scale(0.8, 0.8);
}

tr.date th {
  height:10%;
}

.grid {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, 450px);
}

div.item {
  height:450px;
  position:relative;
}

div.item, div.item tr{
  background-color:#ddefff;
}

img.float-left {
  float:left;
  width:30%;
  height:100%;
  object-fit:cover;
  transition: all 1s;
  position:absolute;
}

img.announce-float-left {
  float:left;
  width:415px;
  transition: all 0.5s;
}

table.announce-float-right{
  width:415px;
  padding-left:10px;
}

table.announce-float-right td{
  word-wrap:anywhere;
}

div.item h2{
  float:right;
}

table.float-right {
  width:70%;
  height:400px;
  float:right;
  padding-left:5px;
}

h2.float-right {
  width:70%;
  height:90px;
  float:right;
  display:flex;
  align-items:end;
  padding-left:5px;
}

img.float-left:hover {
  width:100%;
  transition: all 1s;
  position:absolute;
}

table.float-right td{
  word-wrap:anywhere;
}

table.float-left {
  float:left;
  width:450px;
}

img.float-right {
  width:500px;
}

article a {
  color: #E74727;
}

@media screen and (max-width:500px){
  .grid{
    grid-template-columns: repeat(auto-fit, 90%);
  }
  div.item {
    height:fit-content;
  }
  img.float-left {
    height:100%
  }
  div.item h2{
    font-size: clamp(10px, 6vw, 32px);
  }
  table.float-right {
    height:auto;
  }
  table.float-left {
    width:100%;
  }
  img.float-right {
    width:100%;
  }
}

@media screen and (max-width:415px){
  img.announce-float-left {
    width:100%;
    transition: all 0.5s;
  }
  table.announce-float-right {
    width:100%;
  }
}

/*ここからウェブサイトCDリストの試験用*/

img.cds-float-left {
  float:left;
  width:415px;
  transition: all 0.5s;
}

div.cds-float-left-menu {
  float:left;
  transition: all 0.5s;
}

img.cds-first-image {
  float:left;
  width:415px;

  object-fit:cover;
  transition: all 1s;
  position:absolute;
  height:415px;
  object-position:right;
  z-index: 2;

  transition-delay: 0.5s;
}

img.cds-second-image {
  float:left;
  width:415px;
  transition: all 2s;
  z-index: 0;
  object-fit: cover;
  /*position: absolute;
  height: 415px;*/
}

table.cds-float-right{
  width:415px;
  padding-left:10px;
}

div.cds-float-right-menu{
  float: right;
  width:415px;
  padding-left:10px;
}

table.cds-float-right td{
  word-wrap:anywhere;
}

img.cds-third-image {
  float:left;
  width:415px;
  transition: all 2s;
  z-index: 0;

  object-fit:cover;
  transition: all 1s;
  position:absolute;
  height:415px;
  object-position:right;

}

/*アニメーション系*/

@media screen and (min-width:450px){

  div.cds-float-left:hover img.cds-first-image {
    width:0%;
    transition: all 1s;
    position: absolute;
  }

  img.cds-second-image:hover {
    transform: rotate(720deg);
    transition: all 1.5s;
  }

  img.cds-third-image:active {
    width:0%;
    transition: all 1s;
    position: absolute;
  }

  #cd10_jacket_b:checked ~ img.cds-first-image {
    width:0%;
    transition: all 1s;
    position: absolute;
  }

  #cd10_jacket_c:checked ~ img.cds-first-image {
    width:0%;
    transition: all 1s;
    position: absolute;
  }


  #cd10_jacket_c:checked ~ .cds-third-image {
    width:0%;
    transition: all 1s;
    position: absolute;
    transition-delay: 0.5s;
  }

  #cd10_jacket_c:checked ~ .cds-second-image {
    transform: rotate(720deg);
    transition: all 1.5s;
    transition-delay: 1s;
  }
}

@media screen and (max-width:450px){
  div.cds-float-left {
    height: 415px;
  }
  img.cds-float-left {
    width:100%;
    transition: all 0.5s;
  }
  table.cds-float-right {
    width:100%;
  }
  img.cds-images {
    width: 90%;
    height: auto;
  }
  img.cds-second-image {
    position: absolute;
  }

  #cd10_jacket_b:checked ~ img.cds-first-image {
    opacity: 0;
    transition: all 1s;
    position: absolute;
  }

  #cd10_jacket_c:checked ~ img.cds-first-image {
    opacity: 0;
    transition: all 1s;
    position: absolute;
  }

  #cd10_jacket_c:checked ~ .cds-third-image {
    opacity: 0;
    transition: all 1s;
    position: absolute;
    transition-delay: 0.5s;
  }

  #cd10_jacket_c:checked ~ .cds-second-image {
    transform: rotate(720deg);
    transition: all 1.5s;
    transition-delay: 1s;
  }
}
