@charset "UTF-8";


table.calendar th, table.calendar td {
  width: 10%;
  height: 90px;
  padding: 0 0.1%;
}

table.calendar td {
  background-size: contain;
  background-repeat: no-repeat;
}

img {
  display:block;
  height:100%;
  width:90%;
  object-fit:cover;
  transition: transform 1s;
}

td:hover img {
  transform: scale(0.8, 0.8);
}

tr.date th {
  height:10%;
}
